body{
	background-color: #393F45;
}

#cuadro{
	background-color: gray;
	height: 400px;
	width: 400px;
	font-size: 100px;
	margin-left: 500px;
	margin-top: 50px;
	color: white;
	border-radius: 10px;
	border:solid black 5px;
}